<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CheeseBakesPOSConnection" 
         connectionString="Server=(localdb)\mssqllocaldb;Database=CheeseBakesPOS;Trusted_Connection=True;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>